.aprendiz-sidenav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 60px;
  background: var(--surface-b);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aprendiz-sidenav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0 0;
}

.aprendiz-sidenav-logo img {
  width: 45px;
}

.aprendiz-sidenav-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.aprendiz-sidenav-navigation a {
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s 0s ease;
}

.aprendiz-sidenav-navigation a:hover {
  background-color: #ffffff80;
  border-radius: 50%;
}

.aprendiz-sidenav-navigation a svg {
  height: 25px;
  width: 25px;
  fill: var(--surface-500);
  transition: all 0.5s 0s ease;
}

.aprendiz-sidenav-navigation a svg:hover {
  fill: var(--surface-900);
}

.aprendiz-sidenav-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aprendiz-sidenav-footer a svg {
  height: 32px;
  width: 32px;
  fill: #868686;
}

.aprendiz-sidenav-footer a svg:hover {
  height: 32px;
  width: 32px;
  fill: #d2d2d2;
}

.aprendiz-sidenav_hamburguer-navigation {
  display: none;
}

@media screen and (max-width: 768px) {
  .aprendiz-sidenav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    background: var(--surface-b);
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .aprendiz-sidenav-header {
    display: flex;
    margin: 0 5px 0 5px;
  }

  .aprendiz-sidenav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
  }

  .aprendiz-sidenav-navigation {
    display: none;
  }

  .aprendiz-sidenav-footer {
    display: none;
  }

  .aprendiz-sidenav_mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
  }

  .aprendiz-sidenav_mobile-button button {
    border: none;
    background: none;
  }

  .aprendiz-sidenav_mobile-button button i {
    color: var(--surface-500);
    font-size: 2rem;
  }
}
