.aprendiz-sidenav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 60px;
  background: var(--surface-b);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aprendiz-sidenav-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.aprendiz-sidenav-logo img {
  width: 45px;
}

.aprendiz-sidenav-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

}

.aprendiz-sidenav-navigation a {
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s 0s ease;
}

.aprendiz-sidenav-navigation a:hover {
  background-color: #ffffff80;
  border-radius: 50%;
}

.aprendiz-sidenav-navigation a svg {
  height: 25px;
  width: 25px;
  fill: var(--surface-500);
  transition: all 0.5s 0s ease;
}

.aprendiz-sidenav-navigation a svg:hover {
  fill: var(--surface-900);
}

.aprendiz-sidenav-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aprendiz-sidenav-footer a svg {
  height: 32px;
  width: 32px;
  fill: #868686;
}

.aprendiz-sidenav-footer a svg:hover {
  height: 32px;
  width: 32px;
  fill: #D2D2D2;
}
