.p-card-content-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.p-card-separator {
  background: #eb4028;
  border-radius: 5px;
  padding: 0 2px 0 2px;
  margin: 0 7px 0 7px;
}
