<div class="p-card">
  <div class="p-card-body">
    <div class="flex flex-row">
      <div class="flex flex-column justify-content-around align-items-center">
        <span class="text-xs">{{ getMonthName(post.created) }}</span>
        <span class="text-2xl font-bold">{{ getDayNumber(post.created) }}</span>
      </div>
      <div class="p-card-separator"></div>
      <div class="p-card-content w-full">
        <div class="text-left text-orange-400 font-bold">
          {{ post!.section.name }}
        </div>
        <div class="p-card-content-title">
          {{ post!.title }}
        </div>
        <div class="flex flex-row justify-content-between align-items-center">
          <span class="text-base text-gray-200 font-light">
            por
            <span class="font-semibold text-sm text-blue-300">{{
              getAuthorsName(post.authors)
              }}</span>
          </span>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-chevron-circle-right"
            class="p-button-rounded p-button-secondary p-button-text"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
