<!-- <div class="d-flex flex-row align-items-center justify-content-around h-25">
  <div id="myBrand" class="w-25">
    <img class="img-fluid" src="../../../assets/img/white_textlogo_transparent_background.png" alt="Texto da logomarca na cor branca">
  </div>
  <div id="socialContact" class="w-25">
    <div>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-github"></i>
    </div>
  </div>
  <div id="whoIam" class="w-25">
    <p class="">
      &copy; 2021 Todos os dereitos reservados
    </p>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <!-- <div class="col">
      <img class="img-fluid" src="../../../assets/img/white_textlogo_transparent_background.png" alt="Texto da logomarca na cor branca">
    </div> -->
    <div class="col">
      <div class="d-flex flex-row align-items-center justify-content-around">
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-github"></i>
      </div>
    </div>
    <div class="col-lg col-md col-12 d-flex flex-column justify-content-center align-items-center">
      <span style="font-size: .5rem;" class="text-muted">
        &copy; 2021 Todos os dereitos reservados
      </span>
    </div>
  </div>
</div>