<div class="grid h-full">
  <div class="col-12 md:col-5 lg:col-4 xl:col-3 h-full overflow-hidden">
    <app-new-posts></app-new-posts>
  </div>
  <div class="col-12 md:col-7 lg:col-8 xl:col-9">
    <div
      class="flex flex-column justify-content-center align-items-center h-full"
    >
      <div class="h-3">
        <div>
          <img
            class="h-20rem"
            src="../../../../assets/img/base_logo_transparent_background.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
