<app-new-posts class="col-12 md:col-5 lg:col-4 xl:col-3 h-full overflow-hidden"></app-new-posts>
<div class="col-12 md:col-7 lg:col-8 xl:col-9">
  <div class="flex flex-column justify-content-center align-items-center h-full">
    <div class="h-3">
      <div>
        <img class="h-5rem" src="../../../../assets/img/apprentiz-logo.svg" alt="">
        <span class="text-7xl">prentiz</span>
      </div>
      <div class="text-xl text-center">Tecnologia aliada a Educação</div>
    </div>
  </div>
</div>
