<div class="about-page">
  <header class="w-11 md:w-9 lg:w-6 text-center mr-auto ml-auto">
    <h1>Sobre</h1>
    <p class="text-xl lg:text-2xl font-light">
      Em um cotidiano cada vez mais digitalizado, a tecnologia se torna cada vez
      mais presente nas atividades do dia-a-dia e muitas vezes é a resposta para
      resolução de muitas questões.
    </p>
  </header>
  <section class="mt-8 p-2">
    <div class="grid mb-3">
      <div class="flex flex-column justify-content-center sm:col-12 md:col-6">
        <h2>Controlando a arte da tecnologia</h2>
        <p>
          A idéia desse site, além de mostrar meu portifólio, é mostrar as
          diversas gerações como podemos ter controle sobre a tecnologia a nosso
          favor para não ficarmos em desvantagem e até que ponto ela pode
          alcançar a fim de acelerar as transformações que queremos.
        </p>
      </div>
      <div class="sm:col-12 md:col-6 text-center">
        <img
          src="../../../../assets/img/5242340_025MP.jpg"
          alt=""
          class="about-page_image lg:w-8"
        />
      </div>
    </div>
    <div class="grid mb-3">
      <div class="sm:col-12 md:col-6 text-center">
        <img
          src="../../../../assets/img/5242340_025MP.jpg"
          alt=""
          class="about-page_image lg:w-8"
        />
      </div>
      <div class="flex flex-column justify-content-center sm:col-12 md:col-6">
        <h2>Escolhi educar porque é o príncipio</h2>
        <p>
          A importância do digital na vida de crianças, adolescentes, adultos e
          idosos só cresce. Esse universo online que nos envolve determina
          têndencias e comportamentos, por isso não há porque perder tempo,
          aprender a controlar a tecnologia e transformá-la em nossa aliada é
          fundamental.
        </p>
      </div>
    </div>
    <blockquote>
      " Decidi me dedicar ao máximo, juntar tecnologia e educação de forma que
      se torne cada vez mais presente nas atividades diárias.
    </blockquote>
  </section>
</div>
