<div class="about-page">
  <header class="w-11 md:w-9 lg:w-6 text-center mr-auto ml-auto">
    <h1>Sobre</h1>
    <p class="text-xl lg:text-2xl font-light">
      Em um cotidiano cada vez mais digitalizado, a tecnologia se torna cada vez
      mais presente nas atividades do dia-a-dia e muitas vezes é a resposta para
      resolução de muitas questões.
    </p>
  </header>
  <section class="mt-8">
    <div class="grid">
      <div class="col">
        <h2>Controlando a arte da tecnologia</h2>
        <p>
          A idéia desse site, além de mostrar meu portifólio, é mostrar as
          diversas gerações como podemos ter controle sobre a tecnologia a nosso
          favor para não ficarmos em desvantagem e até que ponto ela pode
          alcançar a fim de acelerar as transformações que queremos.
        </p>
      </div>
      <div class="col">Imagem</div>
    </div>
    <div class="grid">
      <div class="col">Imagem</div>
      <div class="col">
        <h2>Transforming communities.</h2>
        <p>
          Each individual Yellow Leaf hammock is handwoven with the utmost
          precision and care by the expert craftswomen of the Mlabri Tribe –
          “the people of the yellow leaves” – in the hills of Northern Thailand.
          Across three weaving communities, we are working to create jobs for
          mothers and build a foundation for positive community transformation.
        </p>
      </div>
    </div>
    <div class="grid">
      <div class="col">
        <h2>
          We cut out the middleman and get money directly into the hands of our
          weavers.
        </h2>
      </div>
    </div>
  </section>
</div>
